input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: inherit !important;
}

.user-red {
  color: red !important;
}

.user-orange {
  color: #ff8c00 !important;
}

.user-violet {
  color: #a0a !important;
}

.user-blue {
  color: blue !important;
}

.user-cyan {
  color: #03a89e !important;
}

.user-green {
  color: green !important;
}

.user-gray {
  color: gray !important;
}

.cell-accepted {
  color: #0a0;
  font-weight: bold;
}

.cell-rejected-light {
  color: #00a;
  font-weight: normal;
}

.cell-rejected-dark {
  color: #a0a;
  font-weight: normal;
}

.cell-hacked {
  color: red;
}

.cell-testing {
  color: gray;
}

.rating-increase {
  color: #0a0;
}

.rating-decrease {
  color: #a00;
}

.rating-constant {
  color: #aaa;
}
